<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dash Board</title>
        <link rel="icon" href="https://res.cloudinary.com/dkcyr1ca9/image/upload/v1738710796/ElsewedLogo_kda1um.png">
        <link rel="stylesheet" href="https://res.cloudinary.com/dkcyr1ca9/raw/upload/v1738710808/DashBoardStyle_oy6rta.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div x-data="setup()" >
        <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white  text-black">

      <!-- Header -->
      {% include 'components/dashBoardHeader.html' %}
      <!-- ./Header -->

      <!-- Sidebar -->
      {% include 'components/sideBar.html' %}
      <!-- ./Sidebar -->

      <div class="h-full ml-14 mt-14 mb-10 md:ml-64">

        <!-- Statistics Cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-4 gap-4">
          <div class="bg-blue-500  shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
              <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-blue-800  transform transition-transform duration-500 ease-in-out"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
            </div>
            <div class="text-right">
              <p class="text-2xl">{{ totalGuests }}</p>
              <p>Visitors</p>
            </div>
          </div>
          <div class="bg-blue-500  shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                <svg xmlns="http://www.w3.org/2000/svg" fill="blue" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
  <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
</svg>

            </div>
            <div class="text-right">
              <p class="text-2xl">{{ totalStudents }}</p>
              <p>Students</p>
            </div>
          </div>
          <div class="bg-blue-500  shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600  text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                <i class="fa-solid fa-user-tie text-blue-800 text-[1.5rem]"></i>
            </div>
            <div class="text-right">
              <p class="text-2xl">{{totalAdmins}}</p>
              <p>Admins</p>
            </div>
          </div>
          <div class="bg-blue-500  shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600  text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                <i class="fa-solid fa-list-check text-blue-800 text-[1.5rem]"></i>
            </div>
            <div class="text-right">
              <p class="text-2xl">{{totalTasks}}</p>
              <p>Tasks</p>
            </div>
          </div>
        </div>
        <!-- ./Statistics Cards -->

              <div class="flex flex-col h-max sm:mb-0" >
                  <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 20px; width: 100%;">
                    <!-- Bar Chart Container -->
                    <div class="sm:w-[100%]  w-[100%]" style="background-color: #fff; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
                      <canvas id="myChart"></canvas>
                    </div>
                    <!-- Pie Chart Container -->
                    <div class="sm:w-[100%]" style="background-color: #fff; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
                      <div class="bg-white shadow-lg" id="chartpie"></div>
                    </div>
                  </div>
              </div>

        <!-- Client Table -->
        <div class="mt-20 mx-4 hidden sm:block">
          <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
              <table class="w-full">
                <thead>
                  <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b  bg-gray-50 ">
                    <th class="px-4 py-3">Users</th>
                    <th class="px-4 py-3">Tasks</th>
                    <th class="px-4 py-3">Grade</th>
                    <th class="px-4 py-3">Join Date</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y ">
                  {% for user in users %}
                  	<tr class="bg-gray-50  hover:bg-gray-100 text-gray-700 ">
                    <td class="px-4 py-3">
                      <a href="{% url 'userProfile'  user.id %}"><div class="flex items-center text-sm">
                        <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                          <img class="object-cover w-full h-full rounded-full" src="{{ user.profileImage.url }}" alt="" loading="lazy" />
                          <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                        </div>
                        <div>
                          <p class="font-semibold">{{ user.name }}</p>
                          <p class="text-xs text-gray-600 ">{{ user.userPermission }}</p>
                        </div>
                      </div></a>
                    </td>
                    <td class="px-4 py-3 text-sm">{{user.totalTasks}}</td>
                    <td class="px-4 py-3 text-xs">
                      <span class="px-2 py-1 font-semibold leading-tight  {% if user.grade == 'senior' %} text-yellow-700 bg-yellow-200 {% endif %} {% if user.grade == 'wheeler' %} text-blue-700 bg-blue-200 {% endif %} {% if user.grade == 'junior' %} text-green-700 bg-green-200 {% endif %} rounded-full"> {{ user.grade }} </span>
                    </td>
                    <td class="px-4 py-3 text-sm">{{ user.date_joined }}</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t  bg-gray-50 sm:grid-cols-9 ">
              <span class="flex items-center col-span-3"> Total users {{ totalUsers }} </span>
              <span class="col-span-2"></span>
              <!-- Pagination -->
              <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                <nav aria-label="Table navigation">
                <ul class="inline-flex items-center">
                  <!-- Previous Button -->
                  {% if users.has_previous %}
                  <li>
                    <a href="?page={{ users.previous_page_number }}"
                       class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                       aria-label="Previous">
                      <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                        <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg>
                    </a>
                  </li>
                  {% else %}
                  <li>
                    <button disabled class="px-3 py-1 rounded-md rounded-l-lg cursor-not-allowed opacity-50" aria-label="Previous">
                      <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                        <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg>
                    </button>
                  </li>
                  {% endif %}

                  <!-- Page Numbers -->
                  {% for page in users.paginator.page_range %}
                  <li>
                    {% if page == users.number %}
                    <button class="px-3 py-1 text-white  transition-colors duration-150 bg-blue-600  border border-r-0 border-blue-600  rounded-md focus:outline-none focus:shadow-outline-purple">
                      {{ page }}
                    </button>
                    {% else %}
                    <a href="?page={{ page }}" class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                      {{ page }}
                    </a>
                    {% endif %}
                  </li>
                  {% endfor %}

                  <!-- Next Button -->
                  {% if users.has_next %}
                  <li>
                    <a href="?page={{ users.next_page_number }}"
                       class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                       aria-label="Next">
                      <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                        <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg>
                    </a>
                  </li>
                  {% else %}
                  <li>
                    <button disabled class="px-3 py-1 rounded-md rounded-r-lg cursor-not-allowed opacity-50" aria-label="Next">
                      <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                        <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg>
                    </button>
                  </li>
                  {% endif %}
                </ul>
              </nav>
              </span>

            </div>
          </div>
        </div>
        <!-- ./Client Table -->

        <!-- Contact Form -->
        <div class="mt-8 mx-4">
          <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="p-6 mr-2 bg-gray-100  sm:rounded-lg">
              <h1 class="text-4xl sm:text-5xl text-gray-800  font-extrabold tracking-tight">Contact Your Students</h1>
              <p class="text-normal text-lg sm:text-2xl font-medium text-gray-600  mt-8">Fill in the form to submit any message</p>

            </div>
            <form method="post" class="p-6 flex flex-col justify-center">
            {% csrf_token %}
              <div class="flex flex-col">
                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">Select an Email</label>
                  <select name="userEmail" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option selected>Choose a User Email</option>
                      {% for userEmail in usersEmail %}
                      	<option value="{{ userEmail }}">{{ userEmail }}</option>
                      {% endfor %}
                  </select>
              </div>

              <div class="flex flex-col mt-2">
                <label for="title" class="hidden">title</label>
                <input type="text" name="emailTitle" id="title" placeholder="Email title" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white  border border-gray-400  text-gray-800  font-semibold focus:border-blue-500 focus:outline-none" />
              </div>

              <div class="flex flex-col mt-2">
                <label for="message" class="hidden">message</label>
                <textarea placeholder="Message" name="emailmessage" id="message" class="w-100 h-[10rem] mt-2 py-3 px-3 rounded-lg bg-white  border border-gray-400  text-gray-800  font-semibold focus:border-blue-500 focus:outline-none"></textarea>
              </div>

              <button type="submit" formaction="{% url 'sendEmailFromAdmin' %}" class="md:w-32 bg-blue-600  text-white  font-bold py-3 px-6 rounded-lg mt-4 hover:bg-blue-500  transition ease-in-out duration-300">Submit</button>
            </form>
          </div>
        </div>
        <!-- ./Contact Form -->
      </div>
    </div>
  </div>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
    // Pie Chart
    var chartPie = document.querySelector('#chartpie');
    var optionsPie = {
        series: [
            {{ totalStudySupports }},
            {{ totalProfessionalSupports }},
            {{ totalIntermediaries }},
            {{ totalAmbassadors }}
        ],
        chart: {
            height: 350,
            type: 'radialBar',
        },
        plotOptions: {
            radialBar: {
                dataLabels: {
                    name: { fontSize: '22px' },
                    value: { fontSize: '16px' },
                    total: {
                        show: true,
                        label: 'Total Students',
                        formatter: function(w) {
                            return {{ totalStudents }};
                        }
                    }
                }
            }
        },
        labels: ['Tutors', 'Career Helpers', 'Mediators','Ambassadors'],
    };
    var chart2 = new ApexCharts(chartPie, optionsPie);
    chart2.render();
</script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Career Helpers Tasks', 'Ambassador Tasks', 'Mediators Tasks', 'Tutors Tasks'],
      datasets: [{
        label: 'Task Counts',
        data: [{{ totalProfessionalSupportsTasks }}, {{ totalAmbassadorsTasks }}, {{totalIntermediariesTasks}}, {{totalStudySupportsTasks}}],
        borderWidth: 1,
        barThickness: 20, // Adjust width of bars
        backgroundColor: [
          'rgba(255, 99, 132, 0.8)', // Color for the first bar
          'rgba(54, 162, 235, 0.8)', // Color for the second bar
          'rgba(255, 206, 86, 0.8)', // Color for the third bar
          'rgba(75, 192, 192, 0.8)'  // Color for the fourth bar
        ]
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    </body>
</html>