<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manage Users</title>
        <link rel="icon" href="https://res.cloudinary.com/dkcyr1ca9/image/upload/v1738710796/ElsewedLogo_kda1um.png">
        <link rel="stylesheet" href="https://res.cloudinary.com/dkcyr1ca9/raw/upload/v1738710808/DashBoardStyle_oy6rta.css">
        <link rel="stylesheet" href="https://res.cloudinary.com/dkcyr1ca9/raw/upload/v1738710812/SwitchStyle_dxappx.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div x-data="setup()" >
    <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-[#F4F3F3]  text-black ">

      <!-- Header -->
      <div class="fixed w-full flex items-center justify-between h-14 text-white z-10">
        <div class="flex items-center justify-start md:justify-center pl-3 w-14 md:w-64 h-14 bg-blue-800  border-none">
         <div class="w-7 h-7 md:w-10 md:h-10 mr-2 rounded-md overflow-hidden">
             <img alt="admin image" class="" src="{{ admin.profileImage.url }}" />
         </div>
          <span class="hidden md:block">{{ admin.first_name }}</span>
        </div>
        <div class="flex justify-between items-center h-14 bg-blue-800  header-right">
          <form method="post" style="" class="bg-white rounded flex items-center w-full max-w-xl mr-4 p-2 shadow-sm border border-gray-200">
            {% csrf_token %}
              <button class="outline-none focus:outline-none">
              <svg class="w-5 text-gray-600 h-5 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </button>
            <input  type="search" name="search" id="" placeholder="Search" class="w-full pl-3 text-sm text-black outline-none focus:outline-none bg-transparent" />
          </form>
          <ul class="flex items-center">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
              <button type="submit"  class="flex items-center mr-4 hover:text-blue-100">
                <span class="inline-flex mr-1">
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                </span>
                Logout
              </button>
            </form>
          </ul>
        </div>
      </div>
      <!-- ./Header -->

      <!-- Sidebar -->
      {% include 'components/sideBar.html' %}
      <!-- ./Sidebar -->
    {% if updated == "True" %}
	<script>
         const Toast = Swal.mixin({
            toast: true,
            position: "top",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            }
          });
          Toast.fire({
            icon: "success",
            title: "Changes Saved Successfully"
          });
    </script>
{% endif %}
    {% if deleted == "True" %}
	<script>
         const Toast = Swal.mixin({
            toast: true,
            position: "top",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            }
          });
          Toast.fire({
            icon: "success",
            title: "User Deleted Successfully"
          });
    </script>
{% endif %}
        <div class="relative ml-14  mt-24 mb-20 md:ml-[17.5rem] sm:mr-2">
            <div class=" flex flex-col sm:flex-row  flex-wrap gap-4">
            {% for user in users %}
            	<form  method="post" enctype="multipart/form-data" class="rounded   flex flex-col items-center gap-8 items-center bg-white px-10 py-4 overflow-hidden">
                {% csrf_token %}
                <div class="flex flex-col-reverse sm:flex-row  gap-8 items-center">
                    <div class="flex flex-col gap-2 bg-white p-2">
                        <input name="userId" value="{{ user.id }}" hidden>
                        <input required class="focus:border-2 focus:border-blue-500 rounded-md px-2 py-1 w-full"  style="outline: none;" name="name" placeholder="Name" value="{{ user.name }}">
                        <input required class="focus:border-2 focus:border-blue-500 rounded-md px-2 py-1 w-full"  style="outline: none;" name="email" placeholder="Email" value="{{ user.email }}">
                        <input required class="focus:border-2 focus:border-blue-500 rounded-md px-2 py-1 w-full"  style="outline: none;" name="password" placeholder="Password" value="{{ user.password }}">
                        <input required class="focus:border-2 focus:border-blue-500 rounded-md px-2 py-1 w-full"  style="outline: none;" name="phone" placeholder="Phone" value="{{ user.phone }}">
                        <input required class="focus:border-2 focus:border-blue-500 rounded-md px-2 py-1 w-full"  style="outline: none;" name="address" placeholder="Address" value="{{ user.location }}">
                        <input required class="focus:border-2 focus:border-blue-500 rounded-md px-2 py-1 w-full"  style="outline: none;" name="nationalId" placeholder="NationalID" value="{{ user.nationalId }}">
                        <select required class="outline-none border-2 border-blue-500 rounded-md px-2 py-1 w-full" name="userPermission">
                            <option value="student" {% if user.userPermission == 'student' %} selected {% endif %}>Student</option>
                            <option value="admin" {% if user.userPermission == 'admin' %} selected {% endif %}>Admin</option>
                        </select>
                    {% if user.userPermission == 'student' %}
                    	<select required class="outline-none border-2 border-blue-500 rounded-md px-2 py-1 w-full" name="grade">
                            <option value="junior" {% if user.grade == 'junior' %} selected {% endif %}>Junior</option>
                            <option value="wheeler" {% if user.grade == 'wheeler' %} selected {% endif %}>Wheeler</option>
                            <option value="senior" {% if user.grade == 'senior' %} selected {% endif %}>senior</option>
                        </select>
                        <select required class="outline-none border-2 border-blue-500 rounded-md px-2 py-1 w-full" name="firstStudentRule">
                            <option value="AM" {% if user.firstStudentRule == 'AM' %} selected {% endif %}>Ambassador</option>
                            <option value="PS" {% if user.firstStudentRule == 'PS' %} selected {% endif %}>Career Counselor </option>
                            <option value="IN" {% if user.firstStudentRule == 'IN' %} selected {% endif %}>Mediators</option>
                            <option value="SS" {% if user.firstStudentRule == 'SS' %} selected {% endif %}>Tutor</option>
                        </select>
                        <select required class="outline-none border-2 border-blue-500 rounded-md px-2 py-1 w-full" name="secondStudentRule">
                            <option value="AM" {% if user.secondStudentRule == 'AM' %} selected {% endif %}>Ambassador</option>
                            <option value="PS" {% if user.secondStudentRule == 'PS' %} selected {% endif %}>Career Counselor </option>
                            <option value="IN" {% if user.secondStudentRule == 'IN' %} selected {% endif %}>Mediators</option>
                            <option value="SS" {% if user.secondStudentRule == 'SS' %} selected {% endif %}>Tutor</option>
                        </select>
                        {% else %}
                            <input required class="focus:border-2 focus:border-blue-500 rounded-md px-2 py-1 w-full"  style="outline: none;" name="adminRule" value="{{ user.adminRule }}">
                    {% endif %}
                    <label class="switch mt-6">
                            <input {% if user.is_active %} checked {% endif %} name="isActive" type="checkbox">
                            <div class="slider">
                                <div class="circle">
                                    <svg class="cross" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 365.696 365.696" y="0" x="0" height="6" width="6" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <path data-original="#000000" fill="currentColor" d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"></path>
                                        </g>
                                    </svg>
                                    <svg class="checkmark" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="10" width="10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <path class="" data-original="#000000" fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </label>
                    </div>

                    <div>
                        <label for="imgLabel{{ user.id }}" class="object-cover w-auto rounded-t-lg h-[15rem] md:h-auto md:w-48 md:rounded-none md:rounded-s-lg relative sm:w-[12rem] sm:h-[12rem] overflow-hidden mt-10 bg-white  flex items-center justify-center">
                            <img id="userImage{{ user.id }}" alt="user image" src="{{ user.profileImage.url }}" class="w-full h-full object-cover">
                        </label>
                        <input value="{{ user.profileImage }}" type="file" id="imgLabel{{ user.id }}" name="profileImage" class="hidden"
                        onchange="document.getElementById('userImage{{ user.id }}').src = window.URL.createObjectURL(this.files[0])">
                    </div>
                </div>
                 <div>
                     <button type="submit" formaction="{% url 'editUser' %}" class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">Save Changes</button>
                    <button type="submit" formaction="{% url 'deleteUser'  %}" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Delete User</button>
                </div>
                </form>
            {% endfor %}

        </div>
            <div class="flex col-span-4 mt-2 sm:mt-4 sm:justify-end" style="position: absolute;left: 0">
                <nav aria-label="Table navigation">
                <ul class="inline-flex items-center">
                  <!-- Previous Button -->
                  {% if users.has_previous %}
                  <li>
                    <a href="?page={{ users.previous_page_number }}"
                       class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                       aria-label="Previous">
                      <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                        <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg>
                    </a>
                  </li>
                  {% else %}
                  <li>
                    <button disabled class="px-3 py-1 rounded-md rounded-l-lg cursor-not-allowed opacity-50" aria-label="Previous">
                      <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                        <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg>
                    </button>
                  </li>
                  {% endif %}

                  <!-- Page Numbers -->
                  {% for page in users.paginator.page_range %}
                  <li>
                    {% if page == users.number %}
                    <button class="px-3 py-1 text-white dark:text-gray-800 transition-colors duration-150 bg-blue-600 dark:bg-gray-100 border border-r-0 border-blue-600 dark:border-gray-100 rounded-md focus:outline-none focus:shadow-outline-purple">
                      {{ page }}
                    </button>
                    {% else %}
                    <a href="?page={{ page }}" class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                      {{ page }}
                    </a>
                    {% endif %}
                  </li>
                  {% endfor %}

                  <!-- Next Button -->
                  {% if users.has_next %}
                  <li>
                    <a href="?page={{ users.next_page_number }}"
                       class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                       aria-label="Next">
                      <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                        <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg>
                    </a>
                  </li>
                  {% else %}
                  <li>
                    <button disabled class="px-3 py-1 rounded-md rounded-r-lg cursor-not-allowed opacity-50" aria-label="Next">
                      <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                        <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd" fill-rule="evenodd"></path>
                      </svg>
                    </button>
                  </li>
                  {% endif %}
                </ul>
              </nav>
              </div>
        </div>

    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    </body>
</html>