{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forget Password</title>
        <link rel="icon" href="{%static 'Images/PHP logo.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-[#F9FAFB] grid place-items-center pr-2 sm:px-24 overflow-hidden h-full w-full overflow-hidden">
    {% if error %}
	<script>
         const Toast = Swal.mixin({
            toast: true,
            position: "top",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            }
          });
          Toast.fire({
            icon: "error",
            title: "{{ error }}"
          });
    </script>
{% endif %}
    {% if sent %}
	<script>
         const Toast = Swal.mixin({
            toast: true,
            position: "top",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            }
          });
          Toast.fire({
            icon: "success",
            title: "OTP is sent"
          });
    </script>
{% endif %}
    {% if reset %}
	<script>
         const Toast = Swal.mixin({
            toast: true,
            position: "top",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            }
          });
          Toast.fire({
            icon: "success",
            title: "Password Reset To your National ID"
          });
    </script>
{% endif %}
        <div class="flex items-center w-full m-auto">
            <form method="post" class="shadow-md bg-white p-8 flex flex-col gap-6 w-[100%] md:w-[50%] rounded-xl border border-gray-300">
                {% csrf_token %}
                <div class="flex items-center gap-4">
            <img class="w-20" alt="SewedyLogo" src="{% static 'Images/ElsewedLogo.png' %}">
            <p class="text-lg font-semibold text-slate-700">PHP Team App</p>
        </div>

                <p class="font-bold text-2xl text-gray-800">Forget Password</p>
                <p class="text-lg text-gray-600">This Page for reset The Super Admins Password only .</p>
                {% if requested == "False" %}
                    <div class="flex flex-col gap-2">
                        <label for="email"  class="text-gray-700">Email</label>
                        <div class="relative">
                            <input maxlength="50" name="email" placeholder="Your Super Admin Email" id="email" type="email"
                                   class="w-full rounded-lg border border-gray-300 bg-gray-100 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500">
                        </div>
                    </div>
                {% endif %}
            {% if requested != "False" %}
                <div class="flex flex-col gap-2">
                    <label for="email" class="text-gray-700">OTP</label>
                    <div class="flex gap-2 ">
                        <input required name="firstNumber" type="text" maxlength="1" id="otp-1"
                            class="w-12 h-14 text-xl text-center border-2 border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
                            oninput="moveToNext(1)">
                        <input required name="secondNumber" type="text" maxlength="1" id="otp-2"
                            class="w-12 h-14 text-xl text-center border-2 border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
                            oninput="moveToNext(2)">
                        <input required name="thirdNumber" type="text" maxlength="1" id="otp-3"
                            class="w-12 h-14 text-xl text-center border-2 border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
                            oninput="moveToNext(3)">
                        <input required name="forthNumber" type="text" maxlength="1" id="otp-4"
                            class="w-12 h-14 text-xl text-center border-2 border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
                            oninput="moveToNext(4)">
                        <input required name="fifthNumber" type="text" maxlength="1" id="otp-5"
                            class="w-12 h-14 text-xl text-center border-2 border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
                            oninput="moveToNext(5)">
                        <input required name="sixthNumber" type="text" maxlength="1" id="otp-6"
                            class="w-12 h-14 text-xl text-center border-2 border-gray-300 rounded-md focus:border-blue-500 focus:outline-none"
                            oninput="moveToNext(6)">
                    </div>
                    <div id="countdown" class="text-md font-bold text-gray-400">04:00</div>
                </div>
            {% endif %}
                <button class="w-full rounded-lg bg-[#FEDC5B] py-3 text-white font-semibold hover:bg-yellow-700 transition" type="submit">
               {% if requested == "False"%}Get OTP{% else %}Reset Passsword To Default{% endif %}
        </button>
            </form>
            <div class="w-[50%] hidden sm:block">
                <img class="object-cover" alt="change password icon" src="{% static 'Images/boy is showing an OTP message.gif' %}">
            </div>
        </div>
    <script src="{% static 'Scripts/forgetPassword.js' %}"></script>
    <script>
        let timeLeft = 4 * 60;
        // Get the countdown element
        const countdownElement = document.getElementById('countdown');

        // Update the countdown every second
        const countdownInterval = setInterval(() => {
            // Calculate minutes and seconds
            const minutes = Math.floor(timeLeft / 60);
            const seconds = timeLeft % 60;

            // Display the time in MM:SS format
            countdownElement.textContent = `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;

            // Decrease the time left
            timeLeft--;

            // If the countdown reaches zero, stop the interval
            if (timeLeft < 0) {
                clearInterval(countdownInterval);
                countdownElement.textContent = "OTP Expired!";
                countdownElement.classList.remove('text-gray-400');
                countdownElement.classList.add('text-red-600');
            }
        }, 1000);
    </script>
    </body>
</html>