<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Page</title>
        <link rel="icon" href="{%static 'images/PHP logo.png' %}">
        <link rel="stylesheet" href="{% static 'Styles/userProfileStyle.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>
<body class="w-full overflow-x-hidden">
{% if updated == "True" %}
	<script>
         const Toast = Swal.mixin({
            toast: true,
            position: "top",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            }
          });
          Toast.fire({
            icon: "success",
            title: "Changes Saved Successfully"
          });
    </script>
{% endif %}
    <div class="w-full h-[20rem] pt-10" style="background: url({% static 'Images/bannar.jpg' %}) no-repeat center">
        <nav aria-label="Breadcrumb" class="flex  hidden   sm:ml-4 sm:block">
                      <ol class="flex w-max h-max overflow-hidden rounded-lg border border-gray-200 text-gray-600">
                        <li class="flex items-center">
                          <a
                            href="{% url 'student_home' %}"
                            class="flex h-10 items-center gap-1.5 bg-[#0EA5E9] px-4 transition hover:text-gray-900"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="size-5 text-white"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                              />
                            </svg>

                            <span class="ms-1.5 text-xs text-white font-medium"> Home </span>
                          </a>
                        </li>

                        <li class="relative flex items-center">
                          <span
                            class="absolute inset-y-0 -start-px h-10 w-4 bg-[#0EA5E9] [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
                          >
                          </span>

                          <a
                            href=""
                            class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900"
                          >
                            Profile
                          </a>
                        </li>
                      </ol>
                    </nav>
    </div>


        <form class=" mx-auto w-full  flex -mt-[10rem] ml-[10rem] gap-[8rem] items-center" enctype="multipart/form-data" method="post">
            {% csrf_token %}
                <div>
                    <label {% if user.id == userData.id %} id="imgLabel"  for="imgInput" {% endif %} class="relative w-[20rem] h-[25rem] overflow-hidden mt-10 bg-white border-2 flex items-center justify-center">
                     <img id="userImage" alt="user image" src="{{ userData.profileImage.url }}" class="w-full h-full object-cover">
                    </label>
                    <input type="file" id="imgInput" name="profileImage" class="hidden"
                    onchange="document.getElementById('userImage').src = window.URL.createObjectURL(this.files[0])">
                </div>
                <div class="bg-white rounded-lg p-8 border-2 w-[45rem] py-[2rem] flex flex-col gap-6 items-center">
                  <div class="relative z-0 w-full mb-5 group">
                      <input type="text" readonly name="name" id="name" class="bg-slate-400 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" disabled value="{{ userData.name }}" placeholder=" " required />
                      <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
                  </div>
                    <div class="relative z-0 w-full mb-5 group">
                      <input type="email" name="email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" value="{{ userData.email }}"  placeholder=" " {% if userData.id != user.id %} disabled {% endif %} required />
                      <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email Address</label>
                  </div>
                {% if userData.userPermission == 'student' %}
                	<div class="grid md:grid-cols-2 md:gap-6 w-full">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="firstRule" id="firstRule" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                {% if userData.firstStudentRule == 'AM' %}
                                    value="Ambassador"
                               {% elif userData.firstStudentRule == 'PS' %}
                                    value="Study Support"
                               {% elif userData.firstStudentRule == 'IN' %}
                                    value="Intermediate"
                               {% else %}
                                    value="Professional Support"
                                {% endif %}
                               placeholder=" " disabled readonly required />
                        <label for="firstRule" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First Student Rule</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group ">
                        <input type="text" name="secondRule" id="secondRule" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                {% if userData.secondStudentRule == 'AM' %}
                                    value="Ambassador"
                               {% elif userData.secondStudentRule == 'PS' %}
                                    value="Study Support"
                               {% elif userData.secondStudentRule == 'IN' %}
                                    value="Intermediate"
                               {% else %}
                                    value="Professional Support"
                                {% endif %} placeholder=" " disabled readonly required />
                        <label for="secondRule" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Second Student Rule</label>
                    </div>
                  </div>
                {% endif %}
                  <div class="grid md:grid-cols-2 md:gap-6 w-full">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="rule" id="rule" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" value="{{ userData.userPermission }}" disabled readonly placeholder=" "  required />
                        <label for="rule" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Rule</label>
                    </div>
                      {% if userData.userPermission == 'student' %}
                      	<div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="grade" id="grade" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " value="{{ userData.grade }}" {% if userData.id != user.id %} disabled {% endif %}   required />
                        <label for="grade" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Grade</label>
                    </div>
                      {% endif %}

                  </div>
                <div class="grid md:grid-cols-2 md:gap-6 w-full">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="tel" name="phone" id="phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" value="{{ userData.phone }}"  placeholder=" " {% if userData.id != user.id %} disabled {% endif %} required />
                        <label for="phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="location" id="location" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " value="{{ userData.location }}" disabled readonly required />
                        <label for="location" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Location</label>
                    </div>
                  </div>
                     {% if userData.id == user.id %} <button type="submit" class=" tracking-widest text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save Changes</button> {% endif %}
                </div>
        </form>
</body>
</html>