:root
        {
            --maincolor : rgb(17,139,248);
        }
        body
        {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(242,255,242);
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        *
        {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        #continar
        {
            display: flex;
            margin-top: 6%;
        }
        #image
        {
            width: 30rem;
        }
        @media screen and (max-width: 767px) {
            #image
            {
                display: none;
            }
            #continar
            {
                margin-top: 30%;
                margin-left: -15%;
                overflow: hidden;
                width: 300px;
                height: fit-content;
            }
            #planet-s
            {
                display: none;
            }
        }
        form
        {
            width: fit-content;
            padding: 2rem;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
        }
        #logo_form
        {
            width: 8rem;
            border-radius: 100%;
            margin-left: -125%;
            margin-top: -10%;
        }
        #student_logo
        {
            width: 2rem;
            border-radius: 100%;
            margin-left: 0%;
        }
        form p
        {
            margin-bottom: 2rem;
        }
        form input
        {
            width: 15rem ;
            height: 3rem;
            border: 1px solid var(--maincolor);
            border-left: 0;
            border-right: 0;
            border-top: 0;
            outline: none;
            background-color: transparent;
        }
        form *
        {
            position: relative;
            z-index: 2;
        }
        #svg-st
        {
            width: 10rem;
            position: absolute;
            z-index: 1;
            margin-top: 4vw;
            opacity: 0.5;
        }
        #planet-s
        {
            position: absolute;
            margin-top: 30%;
            rotate: -5deg;
            left: 15vw;
            width: 10rem;
        }
        form a
        {
            text-decoration: none;
            color: var(--maincolor);
            transition: all 400ms;
        }
        form a:hover
        {
            color: rgb(80, 12, 15);
        }